.vscode/**
.vscode-test/**
.gitignore
.eslintrc.json
tsconfig.json
vsc-extension-quickstart.md

src/**
scripts/**
test/**
out/test/**
**/*.ts
**/*.map

data/**
!data/rtl_definitions.json

node_modules/**
!node_modules

testcase/**
TODO.md
pictures/**
!pictures/gcc.png
!pictures/gnu-dark.png
!pictures/rs6000.png
!pictures/gnu-light.png
